<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc" style="margin-top: 1em;"><ul class="toc-item"></ul></div>

In [9]:
import pandas as pd

In [10]:
df1 = pd.read_pickle('../../bld/out/data/panel_2005_2010_inspection.pkl')
df2 = pd.read_pickle('../../bld/out/data/panel_2010_2015_inspection.pkl')

In [11]:
EVENT_VARIABLES = ['CHILD_DISORDER', 'DEATH_CHILD', 'DEATH_FATHER',
                   'DEATH_HH_PERSON', 'DEATH_MOTHER', 'DEATH_PARTNER',
                   'DIVORCED', 'HH_COMP_CHANGE', 'LAST_JOB_ENDED',
                   'PREGNANCY_UNPLANNED', 'SEPARATED']


def inspect(df, event, row_cond=None):
    related_columns = [i for i in df if event in i]
    if row_cond is None:
        return df.loc[:, ['ID', 'YEAR'] + related_columns]
    else:
        return df.loc[row_cond, ['ID', 'YEAR'] + related_columns]

In [13]:
inspect(df1, 'DEATH_CHILD', df1.DEATH_CHILD_MONTH.notnull())

,ID,YEAR,DEATH_CHILD_MONTH_SY,DEATH_CHILD_MONTH_PY,DEATH_CHILD_MONTH_PY_SHIFTED,DEATH_CHILD_MONTH,DEATH_CHILD_BEFORE_INTERVIEW,EVENT_DEATH_CHILD,EVENT_DEATH_CHILD_COUNT,EVENT_DEATH_CHILD_COUNT_PREVIOUS,EVENT_DEATH_CHILD_TIME_DIFF
6345,187704,2008,NaN,NaN,April,April,False,True,1.0,0.0,23.0
6758,198302,2007,NaN,NaN,April,April,False,True,1.0,0.0,36.0
7832,229402,2007,NaN,NaN,November,November,False,True,1.0,0.0,28.0
12502,378602,2009,NaN,NaN,April,April,False,True,1.0,0.0,12.0
14506,434103,2009,NaN,NaN,October,October,False,True,1.0,0.0,4.0
15904,492201,2009,NaN,NaN,July,July,False,True,1.0,0.0,8.0
16478,521202,2007,NaN,NaN,May,May,False,True,1.0,0.0,34.0
16629,526202,2008,NaN,NaN,December,December,False,True,1.0,0.0,16.0
16870,537403,2009,NaN,NaN,April,April,False,True,1.0,0.0,10.0
21675,1095502,2008,NaN,NaN,April,April,False,True,1.0,0.0,23.0
24424,2067901,2009,January,NaN,January,January,True,True,1.0,0.0,14.0
26343,2149501,2008,NaN,NaN,August,August,False,True,1.0,0.0,18.0
26349,2149502,2008,NaN,NaN,August,August,False,True,1.0,0.0,18.0
26541,2162301,2008,NaN,NaN,December,December,False,True,1.0,0.0,14.0
28031,2521401,2010,May,NaN,NaN,May,True,True,1.0,0.0,0.0
28328,2529301,2007,NaN,NaN,September,September,False,True,1.0,0.0,34.0
30781,2584201,2006,NaN,NaN,January,January,True,True,1.0,0.0,50.0
30787,2584202,2006,NaN,NaN,January,January,True,True,1.0,0.0,50.0
31972,2617401,2009,NaN,NaN,May,May,False,True,1.0,0.0,10.0
34012,2676702,2009,NaN,NaN,November,November,False,True,1.0,0.0,5.0
36533,2734001,2010,March,NaN,NaN,March,True,True,1.0,0.0,1.0
36539,2734002,2010,March,NaN,NaN,March,True,True,1.0,0.0,1.0
38582,2791201,2007,NaN,NaN,November,November,False,True,1.0,0.0,27.0
38588,2791202,2007,NaN,NaN,November,November,False,True,1.0,0.0,27.0
41841,2863002,2008,NaN,NaN,July,July,False,True,1.0,0.0,20.0
44821,2943301,2006,NaN,NaN,June,June,False,True,1.0,0.0,45.0
44827,2943302,2006,NaN,NaN,June,June,False,True,1.0,0.0,45.0
45812,2968601,2007,NaN,NaN,April,April,False,True,1.0,0.0,35.0
48417,3027901,2008,January,NaN,January,January,True,True,1.0,0.0,26.0
48423,3027902,2008,January,NaN,January,January,True,True,1.0,0.0,26.0
50084,3063401,2007,NaN,NaN,August,August,False,True,1.0,0.0,32.0
50090,3063402,2007,NaN,NaN,August,August,False,True,1.0,0.0,32.0
51267,3085701,2008,NaN,NaN,September,September,False,True,1.0,0.0,22.0
51273,3085702,2008,NaN,NaN,September,September,False,True,1.0,0.0,22.0
54717,5036404,2008,NaN,NaN,December,December,False,True,1.0,0.0,15.0
57770,5098301,2007,June,NaN,NaN,June,False,True,1.0,0.0,32.0
57916,5102101,2009,NaN,NaN,April,April,False,True,1.0,0.0,12.0
57922,5102102,2009,NaN,NaN,April,April,False,True,1.0,0.0,12.0
63229,5205002,2006,NaN,NaN,June,June,False,True,1.0,0.0,44.0
64102,5601302,2009,NaN,NaN,March,March,False,True,1.0,0.0,14.0
65323,7007201,2006,NaN,NaN,April,April,False,True,1.0,0.0,47.0
65329,7007202,2006,NaN,NaN,April,April,False,True,1.0,0.0,49.0

In [15]:
inspect(df1, 'DEATH_CHILD', df1.ID == 7007201)

,ID,YEAR,DEATH_CHILD_MONTH_SY,DEATH_CHILD_MONTH_PY,DEATH_CHILD_MONTH_PY_SHIFTED,DEATH_CHILD_MONTH,DEATH_CHILD_BEFORE_INTERVIEW,EVENT_DEATH_CHILD,EVENT_DEATH_CHILD_COUNT,EVENT_DEATH_CHILD_COUNT_PREVIOUS,EVENT_DEATH_CHILD_TIME_DIFF
65322,7007201,2005,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN
65323,7007201,2006,NaN,NaN,April,April,False,True,1.0,0.0,47.0
65324,7007201,2007,NaN,April,NaN,NaN,NaN,NaN,1.0,0.0,NaN
65325,7007201,2008,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,NaN
65326,7007201,2009,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,NaN
65327,7007201,2010,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,NaN