<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc" style="margin-top: 1em;"><ul class="toc-item"></ul></div>

In [17]:
import pandas as pd

In [21]:
EVENT_VARIABLES = ['DEATH_CHILD', 'DEATH_FATHER', 'DEATH_HH_PERSON',
                   'DEATH_MOTHER', 'DEATH_PARTNER', 'DIVORCED',
                   'HH_COMP_CHANGE', 'LAST_JOB_ENDED', 'SEPARATED']

def inspect(df, event, row_cond=None):
    related_columns = [i for i in df if event in i]
    if row_cond is None:
        return df.loc[:, ['ID', 'YEAR'] + related_columns]
    else:
        return df.loc[row_cond, ['ID', 'YEAR'] + related_columns]

In [22]:
df = pd.read_pickle('../../bld/out/data/panel_inspection_2.pkl')

In [24]:
df.loc[df.ID == 6002, ['ID', 'YEAR', 'REASON_JOB_TERMINATED', 'LAST_JOB_ENDED_MONTH', 'LAST_JOB_ENDED_BEFORE_INTERVIEW', 'LAST_JOB_ENDED_COUNT_FULL']]

C:\Users\tobia\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  """Entry point for launching an IPython kernel.
C:\Users\tobia\Anaconda3\lib\site-packages\pandas\core\indexing.py:1367: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

,ID,YEAR,REASON_JOB_TERMINATED,LAST_JOB_ENDED_MONTH,LAST_JOB_ENDED_BEFORE_INTERVIEW,LAST_JOB_ENDED_COUNT_FULL
145,6002,2005,NaN,NaN,NaN,NaN
146,6002,2006,NaN,April,True,NaN
147,6002,2007,NaN,NaN,NaN,NaN
148,6002,2008,NaN,NaN,NaN,NaN
149,6002,2009,NaN,February,True,NaN
150,6002,2010,NaN,NaN,NaN,NaN
151,6002,2011,NaN,February,True,NaN
152,6002,2012,NaN,NaN,NaN,NaN
153,6002,2013,NaN,NaN,NaN,NaN
154,6002,2014,NaN,NaN,NaN,NaN
155,6002,2015,NaN,NaN,NaN,NaN

In [10]:
df.loc[df.REASON_JOB_TERMINATED.notnull() & df.LAST_JOB_ENDED_MONTH.isnull(), ['ID', 'YEAR', 'REASON_JOB_TERMINATED', 'LAST_JOB_ENDED_MONTH']]

             ID  YEAR          REASON_JOB_TERMINATED LAST_JOB_ENDED_MONTH
16          901  2015  [6] Verrentung, Pensionierung                  NaN
47         2301  2013  [6] Verrentung, Pensionierung                  NaN
56         2302  2011  [6] Verrentung, Pensionierung                  NaN
147        6002  2007            [5] Ende Befristung                  NaN
150        6002  2010            [5] Ende Befristung                  NaN
152        6002  2012            [5] Ende Befristung                  NaN
190        8603  2005            [5] Ende Befristung                  NaN
192        8603  2007         [4] Aufloesungsvertrag                  NaN
195        8603  2010          [2] Eigene Kuendigung                  NaN
204        8605  2008       Displacement by employer                  NaN
243        9401  2012                [7] Beurlaubung                  NaN
269        9801  2005                  Plant closure                  NaN
295        9901  2008  [6] Verrentung, Pensionierung                  NaN
298        9901  2011  [6] Verrentung, Pensionierung                  NaN
319        9904  2010         [4] Aufloesungsvertrag                  NaN
349       10803  2006                [7] Beurlaubung                  NaN
353       10803  2010                [7] Beurlaubung                  NaN
364       10807  2014  [6] Verrentung, Pensionierung                  NaN
367       11301  2006                  Plant closure                  NaN
370       11301  2009                  Plant closure                  NaN
373       11301  2012            [5] Ende Befristung                  NaN
391       11502  2013            [5] Ende Befristung                  NaN
408       11602  2008  [6] Verrentung, Pensionierung                  NaN
427       12301  2005  [6] Verrentung, Pensionierung                  NaN
456       12603  2005          [2] Eigene Kuendigung                  NaN
459       12603  2008          [2] Eigene Kuendigung                  NaN
461       12603  2010       Displacement by employer                  NaN
484       13401  2005       Displacement by employer                  NaN
486       13401  2007          [2] Eigene Kuendigung                  NaN
491       13401  2012       Displacement by employer                  NaN
...         ...   ...                            ...                  ...
122637  8248902  2009  [6] Verrentung, Pensionierung                  NaN
122671  8249803  2010            [5] Ende Befristung                  NaN
122675  8249803  2014       Displacement by employer                  NaN
122691  8250402  2008         [4] Aufloesungsvertrag                  NaN
122697  8250402  2014                [7] Beurlaubung                  NaN
122716  8253302  2011          [2] Eigene Kuendigung                  NaN
122727  8253502  2011          [2] Eigene Kuendigung                  NaN
122729  8253502  2013            [5] Ende Befristung                  NaN
122732  8254502  2010                [7] Beurlaubung                  NaN
122734  8254502  2012                [7] Beurlaubung                  NaN
122736  8254502  2014                [7] Beurlaubung                  NaN
122745  8256102  2011          [2] Eigene Kuendigung                  NaN
122755  8256702  2015          [2] Eigene Kuendigung                  NaN
122758  8256802  2007          [2] Eigene Kuendigung                  NaN
122762  8256802  2011                [7] Beurlaubung                  NaN
122766  8256802  2015                [7] Beurlaubung                  NaN
122767  8261302  2005          [2] Eigene Kuendigung                  NaN
122770  8261302  2008            [5] Ende Befristung                  NaN
122776  8261302  2014            [5] Ende Befristung                  NaN
122783  8261304  2015            [5] Ende Befristung                  NaN
122798  8262002  2013          [2] Eigene Kuendigung                  NaN
122812  8264902  2015          [2] Eigene Kuendigung                  NaN
122816  8265002  2013                  Plant closure                  NaN
122834  8269202  2013                [7] Beurlaubung                  NaN
122836  8269202  2015                [7] Beurlaubung                  NaN
122841  8270602  2014       Displacement by employer                  NaN
122853  8271402  2014          [2] Eigene Kuendigung                  NaN
122858  8272102  2013          [2] Eigene Kuendigung                  NaN
122874  8277802  2011            [5] Ende Befristung                  NaN
122878  8277802  2015                [7] Beurlaubung                  NaN

[7134 rows x 4 columns]

In [6]:
pd.crosstab(df.REASON_JOB_TERMINATED, df.LAST_JOB_ENDED_MONTH)

LAST_JOB_ENDED_MONTH,January,February,March,April,May,June,July,August,September,October,November,December
REASON_JOB_TERMINATED,,,,,,,,,,,,
Plant closure,39,30,21,10,5,5,7,8,3,3,4,14
[2] Eigene Kuendigung,128,83,85,49,35,28,35,28,29,20,21,31
Displacement by employer,144,84,52,32,25,38,19,25,27,24,31,48
[4] Aufloesungsvertrag,68,43,44,16,10,13,11,14,12,7,6,17
[5] Ende Befristung,127,77,56,29,27,29,24,40,19,29,27,41
"[6] Verrentung, Pensionierung",56,50,18,11,8,2,4,4,2,3,2,7
[7] Beurlaubung,41,26,20,16,10,8,1,4,9,6,7,9
[8] Geschaeftsaufgabe (Selbstaendige),21,17,9,5,6,8,3,3,5,5,3,6
[9] Vorruhestand,0,0,0,0,0,0,0,0,0,0,0,0
[10] Ende der Ausbildung,0,0,0,0,0,0,0,0,0,0,0,0
[11] Versetzung auf eigenen Wunsch,0,0,0,0,0,0,0,0,0,0,0,0
[12] Versetzung durch Betrieb,0,0,0,0,0,0,0,0,0,0,0,0
[13] Sonstige Gruende,0,0,0,0,0,0,0,0,0,0,0,0

In [7]:
df.columns

Index(['ID_ORIGINAL_HH', 'YEAR', 'ID_HH', 'ID', 'GENDER', 'EMPLOYMENT_STATUS',
       'MARITAL_STATUS', 'LAST_JOB_ENDED_MONTH_PY', 'LAST_JOB_ENDED_MONTH_SY',
       'REASON_JOB_TERMINATED', 'DIVORCED_MONTH_SY', 'DIVORCED_MONTH_PY',
       'SEPARATED_MONTH_SY', 'SEPARATED_MONTH_PY', 'DEATH_PARTNER_MONTH_SY',
       'DEATH_PARTNER_MONTH_PY', 'HH_COMP_CHANGE_MONTH_PY',
       'HH_COMP_CHANGE_MONTH_SY', 'DEATH_FATHER_MONTH_SY',
       'DEATH_FATHER_MONTH_PY', 'DEATH_MOTHER_MONTH_SY',
       'DEATH_MOTHER_MONTH_PY', 'DEATH_CHILD_MONTH_SY', 'DEATH_CHILD_MONTH_PY',
       'DEATH_HH_PERSON_MONTH_SY', 'DEATH_HH_PERSON_MONTH_PY', 'INT_MONTH',
       'YEAR_2005_2010', 'YEAR_2005_2010_SUM', 'YEAR_2010_2015',
       'YEAR_2010_2015_SUM', 'AGE', 'LEGALLY_HANDICAPPED_PERC_CHANGE',
       'EDUCATION_GROUPS_CASMIN', 'EDUCATION_GROUPS_ISCED97',
       'EDUCATION_GROUPS_ISCED11', 'YEARS_EDUCATION', 'MIGRATION_STATUS',
       'PREGNANCY_UNPLANNED_MONTH', 'CHILD_DISORDER_MONTH', 'ID_MOTHER',
       'MOTHER_PREGNANT_AT_PQ_YEAR', 'CHILD_DISORDER_BEFORE_INTERVIEW',
       'DEATH_CHILD_MONTH_PY_SHIFTED', 'DEATH_CHILD_MONTH',
       'DEATH_CHILD_BEFORE_INTERVIEW', 'DEATH_FATHER_MONTH_PY_SHIFTED',
       'DEATH_FATHER_MONTH', 'DEATH_FATHER_BEFORE_INTERVIEW',
       'DEATH_HH_PERSON_MONTH_PY_SHIFTED', 'DEATH_HH_PERSON_MONTH',
       'DEATH_HH_PERSON_BEFORE_INTERVIEW', 'DEATH_MOTHER_MONTH_PY_SHIFTED',
       'DEATH_MOTHER_MONTH', 'DEATH_MOTHER_BEFORE_INTERVIEW',
       'DEATH_PARTNER_MONTH_PY_SHIFTED', 'DEATH_PARTNER_MONTH',
       'DEATH_PARTNER_BEFORE_INTERVIEW', 'DIVORCED_MONTH_PY_SHIFTED',
       'DIVORCED_MONTH', 'DIVORCED_BEFORE_INTERVIEW',
       'HH_COMP_CHANGE_MONTH_PY_SHIFTED', 'HH_COMP_CHANGE_MONTH',
       'HH_COMP_CHANGE_BEFORE_INTERVIEW', 'LAST_JOB_ENDED_MONTH_PY_SHIFTED',
       'LAST_JOB_ENDED_MONTH', 'LAST_JOB_ENDED_BEFORE_INTERVIEW',
       'PREGNANCY_UNPLANNED_BEFORE_INTERVIEW', 'SEPARATED_MONTH_PY_SHIFTED',
       'SEPARATED_MONTH', 'SEPARATED_BEFORE_INTERVIEW'],
      dtype='object')