<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc" style="margin-top: 1em;"><ul class="toc-item"></ul></div>

In [24]:
import pandas as pd

In [25]:
df = pd.read_pickle('../../bld/out/analysis/panel_reg.pkl')

In [26]:
df.loc[df.EVENT_SEPARATED_TIME_DIFF_GROUP.isnull(), 'EVENT_SEPARATED_TIME_DIFF']

Series([], Name: EVENT_SEPARATED_TIME_DIFF, dtype: float64)

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21371 entries, 0 to 21370
Data columns (total 78 columns):
AGE                                               21371 non-null int64
EDUCATION_GROUPS_ISCED97                          21371 non-null category
EMPLOYMENT_STATUS                                 21371 non-null category
EVENT_CHILD_DISORDER_COUNT                        21371 non-null float64
EVENT_CHILD_DISORDER_COUNT_PREVIOUS               21371 non-null float64
EVENT_CHILD_DISORDER_TIME_DIFF                    21371 non-null float64
EVENT_DEATH_CHILD_COUNT                           21371 non-null float64
EVENT_DEATH_CHILD_COUNT_PREVIOUS                  21371 non-null float64
EVENT_DEATH_CHILD_TIME_DIFF                       21371 non-null float64
EVENT_DEATH_FATHER_COUNT                          21371 non-null float64
EVENT_DEATH_FATHER_COUNT_PREVIOUS                 21371 non-null float64
EVENT_DEATH_FATHER_TIME_DIFF                      21371 non-null float64
EVENT_DEATH_HH_PERSON_COUNT                       21371 non-null float64
EVENT_DEATH_HH_PERSON_COUNT_PREVIOUS              21371 non-null float64
EVENT_DEATH_HH_PERSON_TIME_DIFF                   21371 non-null float64
EVENT_DEATH_MOTHER_COUNT                          21371 non-null float64
EVENT_DEATH_MOTHER_COUNT_PREVIOUS                 21371 non-null float64
EVENT_DEATH_MOTHER_TIME_DIFF                      21371 non-null float64
EVENT_DEATH_PARTNER_COUNT                         21371 non-null float64
EVENT_DEATH_PARTNER_COUNT_PREVIOUS                21371 non-null float64
EVENT_DEATH_PARTNER_TIME_DIFF                     21371 non-null float64
EVENT_DIVORCED_COUNT                              21371 non-null float64
EVENT_DIVORCED_COUNT_PREVIOUS                     21371 non-null float64
EVENT_DIVORCED_TIME_DIFF                          21371 non-null float64
EVENT_HH_COMP_CHANGE_COUNT                        21371 non-null float64
EVENT_HH_COMP_CHANGE_COUNT_PREVIOUS               21371 non-null float64
EVENT_HH_COMP_CHANGE_TIME_DIFF                    21371 non-null float64
EVENT_LAST_JOB_ENDED_COUNT                        21371 non-null float64
EVENT_LAST_JOB_ENDED_COUNT_PREVIOUS               21371 non-null float64
EVENT_LAST_JOB_ENDED_LIMITED_COUNT                21371 non-null float64
EVENT_LAST_JOB_ENDED_LIMITED_COUNT_PREVIOUS       21371 non-null float64
EVENT_LAST_JOB_ENDED_LIMITED_TIME_DIFF            21371 non-null float64
EVENT_LAST_JOB_ENDED_TIME_DIFF                    21371 non-null float64
EVENT_LEGALLY_HANDICAPPED_PERC_COUNT              21371 non-null float64
EVENT_LEGALLY_HANDICAPPED_PERC_COUNT_PREVIOUS     21371 non-null float64
EVENT_LEGALLY_HANDICAPPED_PERC_TIME_DIFF          21371 non-null float64
EVENT_PREGNANCY_UNPLANNED_COUNT                   21371 non-null float64
EVENT_PREGNANCY_UNPLANNED_COUNT_PREVIOUS          21371 non-null float64
EVENT_PREGNANCY_UNPLANNED_TIME_DIFF               21371 non-null float64
EVENT_SEPARATED_COUNT                             21371 non-null float64
EVENT_SEPARATED_COUNT_PREVIOUS                    21371 non-null float64
EVENT_SEPARATED_TIME_DIFF                         21371 non-null float64
GENDER                                            21371 non-null category
HH_NET_INCOME_YEAR                                21371 non-null float64
ID                                                21371 non-null int64
ID_HH                                             21371 non-null int64
LEGALLY_HANDICAPPED_PERC_CHANGE                   21371 non-null float64
MARITAL_STATUS                                    21371 non-null category
MIGRATION_STATUS                                  21371 non-null bool
YEAR                                              21371 non-null int64
EVENT_CHILD_DISORDER                              21371 non-null bool
EVENT_DEATH_CHILD                                 21371 non-null bool
EVENT_DEATH_FATHER                                21371 non-null bool
EVENT_DEATH_HH_PERSON                             21371 non-null bool
EVENT_DEATH_MOTHER                                21371 non-null bool
EVENT_DEATH_PARTNER                               21371 non-null bool
EVENT_DIVORCED                                    21371 non-null bool
EVENT_HH_COMP_CHANGE                              21371 non-null bool
EVENT_LAST_JOB_ENDED                              21371 non-null bool
EVENT_LAST_JOB_ENDED_LIMITED                      21371 non-null bool
EVENT_LEGALLY_HANDICAPPED_PERC                    21371 non-null bool
EVENT_PREGNANCY_UNPLANNED                         21371 non-null bool
EVENT_SEPARATED                                   21371 non-null bool
FIRST_FACTOR_DELTA                                21371 non-null float64
AGE_GROUPS                                        21371 non-null category
EVENT_CHILD_DISORDER_TIME_DIFF_GROUP              21371 non-null category
EVENT_DEATH_CHILD_TIME_DIFF_GROUP                 21371 non-null category
EVENT_DEATH_FATHER_TIME_DIFF_GROUP                21371 non-null category
EVENT_DEATH_HH_PERSON_TIME_DIFF_GROUP             21371 non-null category
EVENT_DEATH_MOTHER_TIME_DIFF_GROUP                21371 non-null category
EVENT_DEATH_PARTNER_TIME_DIFF_GROUP               21371 non-null category
EVENT_DIVORCED_TIME_DIFF_GROUP                    21371 non-null category
EVENT_HH_COMP_CHANGE_TIME_DIFF_GROUP              21371 non-null category
EVENT_LAST_JOB_ENDED_LIMITED_TIME_DIFF_GROUP      21371 non-null category
EVENT_LAST_JOB_ENDED_TIME_DIFF_GROUP              21371 non-null category
EVENT_LEGALLY_HANDICAPPED_PERC_TIME_DIFF_GROUP    21371 non-null category
EVENT_PREGNANCY_UNPLANNED_TIME_DIFF_GROUP         21371 non-null category
EVENT_SEPARATED_TIME_DIFF_GROUP                   21371 non-null category
dtypes: bool(14), category(18), float64(42), int64(4)
memory usage: 8.3 MB

In [28]:
pd.cut(df.EVENT_CHILD_DISORDER_TIME_DIFF, [-1] + list(range(0, 73, 12)))

0         (-1, 0]
1         (-1, 0]
2         (-1, 0]
3         (-1, 0]
4         (-1, 0]
5         (-1, 0]
6         (-1, 0]
7         (-1, 0]
8         (-1, 0]
9         (-1, 0]
10        (-1, 0]
11        (-1, 0]
12        (-1, 0]
13        (-1, 0]
14        (-1, 0]
15        (-1, 0]
16        (-1, 0]
17        (-1, 0]
18        (-1, 0]
19        (-1, 0]
20        (-1, 0]
21        (-1, 0]
22        (-1, 0]
23        (-1, 0]
24        (-1, 0]
25        (-1, 0]
26        (-1, 0]
27        (-1, 0]
28        (-1, 0]
29        (-1, 0]
           ...
21341    (36, 48]
21342    (48, 60]
21343    (36, 48]
21344    (48, 60]
21345    (36, 48]
21346    (36, 48]
21347    (36, 48]
21348    (36, 48]
21349    (36, 48]
21350    (48, 60]
21351    (36, 48]
21352    (48, 60]
21353    (36, 48]
21354    (36, 48]
21355    (36, 48]
21356    (48, 60]
21357    (36, 48]
21358    (36, 48]
21359    (36, 48]
21360    (36, 48]
21361    (36, 48]
21362    (36, 48]
21363    (36, 48]
21364    (36, 48]
21365    (36, 48]
21366    (36, 48]
21367    (36, 48]
21368    (36, 48]
21369    (36, 48]
21370    (36, 48]
Name: EVENT_CHILD_DISORDER_TIME_DIFF, Length: 21371, dtype: category
Categories (7, interval[int64]): [(-1, 0] < (0, 12] < (12, 24] < (24, 36] < (36, 48] < (48, 60] < (60, 72]]

In [18]:
df.loc[df.EVENT_CHILD_DISORDER_TIME_DIFF_GROUP.isnull(), ['EVENT_CHILD_DISORDER_TIME_DIFF', 'EVENT_CHILD_DISORDER_TIME_DIFF_GROUP']]

      EVENT_CHILD_DISORDER_TIME_DIFF EVENT_CHILD_DISORDER_TIME_DIFF_GROUP
3569                            61.0                                  NaN
3571                            61.0                                  NaN
3574                            61.0                                  NaN
3577                            61.0                                  NaN
3579                            61.0                                  NaN
3581                            61.0                                  NaN
3583                            61.0                                  NaN
5823                            61.0                                  NaN
5824                            61.0                                  NaN
5826                            61.0                                  NaN
5828                            61.0                                  NaN
5830                            61.0                                  NaN
5832                            61.0                                  NaN

In [12]:
df[[i for i in df if 'DIFF' in i]].max()

EVENT_CHILD_DISORDER_TIME_DIFF              61.0
EVENT_DEATH_CHILD_TIME_DIFF                 50.0
EVENT_DEATH_FATHER_TIME_DIFF                65.0
EVENT_DEATH_HH_PERSON_TIME_DIFF             61.0
EVENT_DEATH_MOTHER_TIME_DIFF                62.0
EVENT_DEATH_PARTNER_TIME_DIFF               63.0
EVENT_DIVORCED_TIME_DIFF                    63.0
EVENT_HH_COMP_CHANGE_TIME_DIFF              62.0
EVENT_LAST_JOB_ENDED_LIMITED_TIME_DIFF      64.0
EVENT_LAST_JOB_ENDED_TIME_DIFF              67.0
EVENT_LEGALLY_HANDICAPPED_PERC_TIME_DIFF    62.0
EVENT_PREGNANCY_UNPLANNED_TIME_DIFF         60.0
EVENT_SEPARATED_TIME_DIFF                   63.0
dtype: float64