<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc" style="margin-top: 1em;"><ul class="toc-item"></ul></div>

In [1]:
import pandas as pd

In [3]:
df1 = pd.read_pickle('../../bld/out/data/panel_2005_2010_inspection.pkl')
df2 = pd.read_pickle('../../bld/out/data/panel_2010_2015_inspection.pkl')

In [4]:
df1.sort_values

,ID,ID_ORIGINAL_HH,YEAR,ID_HH,GENDER,EMPLOYMENT_STATUS,MARITAL_STATUS,LAST_JOB_ENDED_MONTH_PY,LAST_JOB_ENDED_MONTH_SY,REASON_JOB_TERMINATED,...,EVENT_DIVORCED_COUNT_PREVIOUS,EVENT_HH_COMP_CHANGE,EVENT_HH_COMP_CHANGE_COUNT,EVENT_HH_COMP_CHANGE_COUNT_PREVIOUS,EVENT_LAST_JOB_ENDED,EVENT_LAST_JOB_ENDED_COUNT,EVENT_LAST_JOB_ENDED_COUNT_PREVIOUS,EVENT_SEPARATED,EVENT_SEPARATED_COUNT,EVENT_SEPARATED_COUNT_PREVIOUS
0,602,60,2010,60,Female,Employed,Relationship,September,NaN,NaN,...,0.0,NaN,0.0,0.0,True,1.0,0.0,NaN,0.0,0.0
1,901,94,2015,94,Female,Not Employed,Single,July,NaN,NaN,...,0.0,NaN,0.0,0.0,True,1.0,0.0,NaN,0.0,0.0
2,1501,159,2015,159,Male,Employed,Single,NaN,NaN,NaN,...,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0
3,1601,167,2015,167,Male,Not Employed,Single,NaN,NaN,NaN,...,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0
4,2301,230,2015,230,Male,Not Employed,Single,July,NaN,NaN,...,0.0,NaN,0.0,0.0,True,1.0,0.0,NaN,0.0,0.0
5,2302,230,2015,65889,Female,Not Employed,Single,November,NaN,NaN,...,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0
6,4901,493,2010,493,Female,Not Employed,Single,NaN,NaN,NaN,...,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0
7,5201,523,2015,523,Male,Not Employed,Relationship,NaN,NaN,NaN,...,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0
8,5202,523,2015,523,Female,Employed,Relationship,NaN,NaN,NaN,...,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0
9,5203,523,2015,125466,Female,Employed,Single,NaN,NaN,NaN,...,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0
10,5303,531,2015,105600,Male,Employed,Single,NaN,NaN,NaN,...,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0
11,5601,566,2010,566,Female,Not Employed,Single,NaN,NaN,NaN,...,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0
12,5801,582,2015,582,Male,Not Employed,Relationship,NaN,NaN,NaN,...,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0
13,5803,582,2015,110787,Female,Employed,Single,NaN,NaN,NaN,...,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0
14,6002,604,2015,604,Female,Not Employed,Single,February,February,NaN,...,0.0,NaN,0.0,0.0,True,3.0,2.0,NaN,0.0,0.0
15,7301,736,2015,736,Male,Not Employed,Relationship,NaN,NaN,NaN,...,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0
16,7302,736,2015,736,Female,Not Employed,Relationship,NaN,NaN,NaN,...,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0
17,8001,809,2010,809,Female,Not Employed,Single,NaN,NaN,NaN,...,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0
18,8602,868,2010,868,Female,Employed,Single,NaN,NaN,NaN,...,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0
19,8603,868,2015,79880,Male,Employed,Relationship,November,NaN,NaN,...,0.0,NaN,0.0,0.0,True,2.0,1.0,NaN,0.0,0.0
20,8605,868,2010,129801,Male,Employed,Single,March,NaN,Displacement by employer,...,0.0,NaN,0.0,0.0,True,2.0,1.0,NaN,0.0,0.0
21,8606,868,2010,127426,Male,Employed,Single,NaN,NaN,NaN,...,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0
22,9102,914,2010,914,Female,Not Employed,Single,NaN,NaN,NaN,...,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0
23,9103,914,2010,914,Male,Not Employed,Single,NaN,NaN,NaN,...,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0
24,9302,930,2015,930,Female,Employed,Single,NaN,NaN,NaN,...,0.0,NaN,0.0,0.0,NaN,0.0,0.0,True,1.0,0.0
25,9401,949,2015,949,Female,Not Employed,Relationship,October,NaN,NaN,...,0.0,NaN,0.0,0.0,True,1.0,0.0,NaN,0.0,0.0
26,9402,949,2015,949,Male,Employed,Relationship,NaN,NaN,NaN,...,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0
27,9403,949,2015,149578,Male,Employed,Single,NaN,NaN,NaN,...,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0
28,9801,981,2010,981,Female,Employed,Single,January,NaN,Plant closure,...,0.0,NaN,0.0,0.0,NaN,0.0,0.0,True,1.0,0.0
29,9802,981,2010,65030,Male,Employed,Single,NaN,NaN,NaN,...,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12322,8245601,824569,2015,824569,Female,Employed,Single,NaN,NaN,NaN,...,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0
12323,8245602,824569,2015,824569,Male,Employed,Single,NaN,NaN,NaN,...,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0
12324,8245603,824569,2015,827061,Female,Employed,Relationship,NaN,NaN,NaN,...,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0
12325,8245604,824569,2015,827495,Male,Employed,Single,September,NaN,NaN,...,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0
12326,8245801,824585,2010,824585,Male,Not Employed,Relationship,NaN,NaN,NaN,...,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0
12327,8245802,824585,2010,824585,Female,Not Employed,Relationship,July,NaN,NaN,...,0.0,NaN,0.0,0.0,True,2.0,1.0,NaN,0.0,0.0
12328,8245901,824593,2015,824593,Female,Employed,Relationship,January,NaN,Plant closure,...,0.0,NaN,0.0,0.0,True,1.0,0.0,NaN,0.0,0.0
12329,8245902,824593,2015,824593,Male,Not Employed,Relationship,April,April,NaN,...,0.0,NaN,0.0,0.0,True,1.0,0.0,NaN,0.0,0.0
12330,8246001,824607,2010,824607,Female,Employed,Single,NaN,NaN,NaN,...,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0
12331,8246401,824640,2010,824640,Male,Employed,Relationship,NaN,NaN,NaN,...,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0
12332,8246402,824640,2015,824640,Female,Not Employed,Relationship,January,NaN,Plant closure,...,0.0,NaN,0.0,0.0,True,3.0,2.0,NaN,0.0,0.0
12333,8247102,824712,2010,824712,Female,Not Employed,Relationship,December,NaN,NaN,...,0.0,NaN,0.0,0.0,True,1.0,0.0,NaN,0.0,0.0
12334,8247901,824798,2010,824798,Female,Other,Relationship,NaN,NaN,NaN,...,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0
12335,8247902,824798,2010,824798,Male,Employed,Relationship,NaN,NaN,NaN,...,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0
12336,8247904,824798,2010,826480,Male,Employed,Single,NaN,NaN,NaN,...,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0
12337,8248401,824844,2015,824844,Male,Not Employed,Relationship,January,January,NaN,...,0.0,NaN,0.0,0.0,True,1.0,0.0,NaN,0.0,0.0
12338,8248402,824844,2015,824844,Female,Not Employed,Relationship,July,NaN,NaN,...,0.0,NaN,0.0,0.0,True,2.0,1.0,NaN,0.0,0.0
12339,8248901,824895,2015,824895,Male,Not Employed,Relationship,NaN,NaN,NaN,...,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0
12340,8248902,824895,2015,824895,Female,Not Employed,Relationship,July,NaN,NaN,...,0.0,NaN,0.0,0.0,True,1.0,0.0,NaN,0.0,0.0
12341,8249801,824984,2015,824984,Male,Employed,Relationship,NaN,NaN,NaN,...,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0
12342,8249802,824984,2015,824984,Female,Employed,Relationship,NaN,NaN,NaN,...,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0
12343,8249803,824984,2015,827746,Male,Employed,Relationship,August,February,Displacement by employer,...,0.0,NaN,0.0,0.0,True,3.0,2.0,NaN,0.0,0.0
12344,8249804,824984,2015,147540,Male,Not Employed,Single,NaN,NaN,NaN,...,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0
12345,8250402,806668,2015,827525,Female,Employed,Single,October,NaN,NaN,...,0.0,NaN,0.0,0.0,True,3.0,2.0,True,1.0,0.0
12346,8250702,812773,2015,825077,Female,Employed,Relationship,NaN,NaN,NaN,...,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0
12347,8253302,810240,2015,825336,Female,Not Employed,Relationship,October,NaN,NaN,...,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0
12348,8253502,810282,2015,825352,Male,Employed,Single,December,NaN,NaN,...,0.0,NaN,0.0,0.0,True,2.0,1.0,True,1.0,0.0
12349,8256802,800430,2015,825689,Female,Not Employed,Relationship,November,NaN,NaN,...,0.0,NaN,0.0,0.0,True,3.0,2.0,NaN,0.0,0.0
12350,8261302,813753,2015,136336,Female,Employed,Single,July,August,NaN,...,0.0,NaN,0.0,0.0,True,2.0,1.0,True,1.0,0.0
12351,8262002,824488,2015,826200,Male,Employed,Relationship,March,NaN,NaN,...,0.0,NaN,0.0,0.0,True,1.0,0.0,True,2.0,1.0