<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc" style="margin-top: 1em;"><ul class="toc-item"></ul></div>

In [55]:
import pandas as pd

In [56]:
EVENT_VARIABLES = ['DEATH_CHILD', 'DEATH_FATHER', 'DEATH_HH_PERSON',
                   'DEATH_MOTHER', 'DEATH_PARTNER', 'DIVORCED',
                   'HH_COMP_CHANGE', 'LAST_JOB_ENDED', 'SEPARATED']

In [57]:
df = pd.read_pickle('../../bld/out/data/panel.pkl')

In [58]:
df.loc[df.ID == 901]

,ID,ID_ORIGINAL_HH,YEAR,ID_HH,GENDER,EMPLOYMENT_STATUS,MARITAL_STATUS,AGE,EVENT_DEATH_CHILD_COUNT,EVENT_DEATH_CHILD_COUNT_PREVIOUS,...,EVENT_SEPARATED_COUNT_PREVIOUS,EVENT_DEATH_CHILD,EVENT_DEATH_FATHER,EVENT_DEATH_HH_PERSON,EVENT_DEATH_MOTHER,EVENT_DEATH_PARTNER,EVENT_DIVORCED,EVENT_HH_COMP_CHANGE,EVENT_LAST_JOB_ENDED,EVENT_SEPARATED
1,901,94,2010,94,Female,Employed,Single,59,0.0,0.0,...,0.0,False,False,False,False,False,False,False,False,False
0,901,94,2015,94,Female,Not Employed,Single,64,0.0,0.0,...,0.0,False,False,False,True,False,False,False,True,False

In [59]:
df.columns

Index(['ID', 'ID_ORIGINAL_HH', 'YEAR', 'ID_HH', 'GENDER', 'EMPLOYMENT_STATUS',
       'MARITAL_STATUS', 'AGE', 'EVENT_DEATH_CHILD_COUNT',
       'EVENT_DEATH_CHILD_COUNT_PREVIOUS', 'EVENT_DEATH_FATHER_COUNT',
       'EVENT_DEATH_FATHER_COUNT_PREVIOUS', 'EVENT_DEATH_HH_PERSON_COUNT',
       'EVENT_DEATH_HH_PERSON_COUNT_PREVIOUS', 'EVENT_DEATH_MOTHER_COUNT',
       'EVENT_DEATH_MOTHER_COUNT_PREVIOUS', 'EVENT_DEATH_PARTNER_COUNT',
       'EVENT_DEATH_PARTNER_COUNT_PREVIOUS', 'EVENT_DIVORCED_COUNT',
       'EVENT_DIVORCED_COUNT_PREVIOUS', 'EVENT_HH_COMP_CHANGE_COUNT',
       'EVENT_HH_COMP_CHANGE_COUNT_PREVIOUS', 'EVENT_LAST_JOB_ENDED_COUNT',
       'EVENT_LAST_JOB_ENDED_COUNT_PREVIOUS', 'EVENT_SEPARATED_COUNT',
       'EVENT_SEPARATED_COUNT_PREVIOUS', 'EVENT_DEATH_CHILD',
       'EVENT_DEATH_FATHER', 'EVENT_DEATH_HH_PERSON', 'EVENT_DEATH_MOTHER',
       'EVENT_DEATH_PARTNER', 'EVENT_DIVORCED', 'EVENT_HH_COMP_CHANGE',
       'EVENT_LAST_JOB_ENDED', 'EVENT_SEPARATED'],
      dtype='object')

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21693 entries, 0 to 9340
Data columns (total 35 columns):
ID                                      21693 non-null int64
ID_ORIGINAL_HH                          21693 non-null int64
YEAR                                    21693 non-null int64
ID_HH                                   21693 non-null int64
GENDER                                  21693 non-null category
EMPLOYMENT_STATUS                       21693 non-null object
MARITAL_STATUS                          21693 non-null category
AGE                                     21693 non-null int64
EVENT_DEATH_CHILD_COUNT                 21693 non-null float64
EVENT_DEATH_CHILD_COUNT_PREVIOUS        21693 non-null float64
EVENT_DEATH_FATHER_COUNT                21693 non-null float64
EVENT_DEATH_FATHER_COUNT_PREVIOUS       21693 non-null float64
EVENT_DEATH_HH_PERSON_COUNT             21693 non-null float64
EVENT_DEATH_HH_PERSON_COUNT_PREVIOUS    21693 non-null float64
EVENT_DEATH_MOTHER_COUNT                21693 non-null float64
EVENT_DEATH_MOTHER_COUNT_PREVIOUS       21693 non-null float64
EVENT_DEATH_PARTNER_COUNT               21693 non-null float64
EVENT_DEATH_PARTNER_COUNT_PREVIOUS      21693 non-null float64
EVENT_DIVORCED_COUNT                    21693 non-null float64
EVENT_DIVORCED_COUNT_PREVIOUS           21693 non-null float64
EVENT_HH_COMP_CHANGE_COUNT              21693 non-null float64
EVENT_HH_COMP_CHANGE_COUNT_PREVIOUS     21693 non-null float64
EVENT_LAST_JOB_ENDED_COUNT              21693 non-null float64
EVENT_LAST_JOB_ENDED_COUNT_PREVIOUS     21693 non-null float64
EVENT_SEPARATED_COUNT                   21693 non-null float64
EVENT_SEPARATED_COUNT_PREVIOUS          21693 non-null float64
EVENT_DEATH_CHILD                       21693 non-null bool
EVENT_DEATH_FATHER                      21693 non-null bool
EVENT_DEATH_HH_PERSON                   21693 non-null bool
EVENT_DEATH_MOTHER                      21693 non-null bool
EVENT_DEATH_PARTNER                     21693 non-null bool
EVENT_DIVORCED                          21693 non-null bool
EVENT_HH_COMP_CHANGE                    21693 non-null bool
EVENT_LAST_JOB_ENDED                    21693 non-null bool
EVENT_SEPARATED                         21693 non-null bool
dtypes: bool(9), category(2), float64(18), int64(5), object(1)
memory usage: 4.4+ MB

In [61]:
df.loc[df.YEAR == 2010].shape

(12352, 35)

In [62]:
df.loc[df.YEAR == 2015].shape

(9341, 35)

In [ ]:
df.

In [34]:
df_temp = df.drop_duplicates(['ID', 'YEAR']).copy()

In [35]:
df_temp.loc[df_temp.YEAR == 2010].shape

(14414, 26)

In [36]:
df_temp.loc[df_temp.YEAR == 2015].shape

(9341, 26)

In [12]:
for event in EVENT_VARIABLES:
    print(event)
    print(df.loc[df.YEAR == 2010, 'EVENT_' + event + '_COUNT'].sum())

DEATH_CHILD
0.0
DEATH_FATHER
0.0
DEATH_HH_PERSON
0.0
DEATH_MOTHER
0.0
DEATH_PARTNER
0.0
DIVORCED
0.0
HH_COMP_CHANGE
0.0
LAST_JOB_ENDED
0.0
SEPARATED
0.0

In [7]:
for event in EVENT_VARIABLES:    
    print(pd.crosstab(df.YEAR, df['EVENT_' + event + '_COUNT']))

EVENT_DEATH_CHILD_COUNT   0.0  1.0  2.0
YEAR
2010                     5073    0    0
2015                     9297   41    3
EVENT_DEATH_FATHER_COUNT   0.0  1.0  2.0
YEAR
2010                      5073    0    0
2015                      8904  428    9
EVENT_DEATH_HH_PERSON_COUNT   0.0  1.0
YEAR
2010                         5073    0
2015                         9295   46
EVENT_DEATH_MOTHER_COUNT   0.0  1.0  2.0
YEAR
2010                      5073    0    0
2015                      8908  426    7
EVENT_DEATH_PARTNER_COUNT   0.0  1.0
YEAR
2010                       5073    0
2015                       9152  189
EVENT_DIVORCED_COUNT   0.0  1.0  2.0
YEAR
2010                  5073    0    0
2015                  9200  136    5
EVENT_HH_COMP_CHANGE_COUNT   0.0  1.0  2.0
YEAR
2010                        5073    0    0
2015                        9219  119    3
EVENT_LAST_JOB_ENDED_COUNT   0.0   1.0  2.0  3.0  4.0  5.0
YEAR
2010                        5073     0    0    0    0    0
2015                        7048  1724  439  112   13    5
EVENT_SEPARATED_COUNT   0.0  1.0  2.0  3.0
YEAR
2010                   5073    0    0    0
2015                   8910  389   40    2