<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc" style="margin-top: 1em;"><ul class="toc-item"></ul></div>

In [19]:
import pandas as pd
import numpy as np

In [13]:
VARIABLE_NAMES_PPFAD = {
    # General variables
    'cid': 'ID_ORIGINAL_HH',  # Case id, id of original household
    'pid': 'ID',  # permanent personal id
    'migback': 'MIGRATION_STATUS',
}

RETAINED_COLUMNS_PPFAD = list(VARIABLE_NAMES_PPFAD.keys())

In [14]:
df = pd.read_stata('../data/ppfad.dta', columns=RETAINED_COLUMNS_PPFAD)
df = df.rename(columns=VARIABLE_NAMES_PPFAD)

In [22]:
# Prepare migration status
migration_status = {
    '[-1] keine Angabe': np.nan, 
    '[1] kein Migrationshintergrund': False,
    '[2] direkter Migrationshintergrund': True,
    '[3] indirekter Migrationshintergrund': True,
    '[4] Migrationshintergrund - n. w. differenz.': True,
}
df.MIGRATION_STATUS.replace(migration_status, inplace=True)

In [25]:
df

        ID_ORIGINAL_HH        ID MIGRATION_STATUS
0                   19       101            False
1                   19       102            False
2                   19       103            False
3                   19    603002              NaN
4                   19    603003              NaN
5                   27       201            False
6                   27       202            False
7                   27       203            False
8                   27       204              NaN
9                   27    701102             True
10                  35       301            False
11                  35       302            False
12                  35       303            False
13                  35       304            False
14                  43       401            False
15                  51       501            False
16                  60       601            False
17                  60       602            False
18                  60       603             True
19                  60       604             True
20                  60       605            False
21                  60    609102             True
22                  60    609103            False
23                  60    609104            False
24                  60    609105             True
25                  60   1088902             True
26                  60   1203002             True
27                  60   1203003            False
28                  78       701            False
29                  86       801            False
...                ...       ...              ...
113810         3499129  34991203             True
113811         3499218  34992101             True
113812         3499242  34992401             True
113813         3499242  34992402             True
113814         3499242  34992403             True
113815         3499242  34992404             True
113816         3499277  34992701             True
113817         3499277  34992702             True
113818         3499544  34995401             True
113819         3499544  34995402             True
113820         3499544  34995403             True
113821         3499633  34996301             True
113822         3499633  34996302            False
113823         3499668  34996601             True
113824         3499668  34996602             True
113825         3499668  34996603             True
113826         3499730  34997301             True
113827         3499749  34997401             True
113828         3499773  34997701             True
113829         3499773  34997702             True
113830         3499773  34997703             True
113831         3499820  34998201             True
113832         3499862  34998601             True
113833         3499862  34998602             True
113834         3499870  34998701             True
113835         3499870  34998702             True
113836         3499900  34999001             True
113837         3499900  34999002              NaN
113838         3499900  34999003             True
113839         3499900  34999004             True

[113840 rows x 3 columns]