<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc" style="margin-top: 1em;"><ul class="toc-item"></ul></div>

In [1]:
import pandas as pd

In [8]:
EVENT_VARIABLES = ['DEATH_CHILD', 'DEATH_FATHER', 'DEATH_HH_PERSON',
                   'DEATH_MOTHER', 'DEATH_PARTNER', 'DIVORCED',
                   'HH_COMP_CHANGE', 'LAST_JOB_ENDED', 'SEPARATED']

def inspect(df, event, row_cond=None):
    related_columns = [i for i in df if event in i]
    if row_cond is None:
        return df.loc[:, ['ID', 'YEAR'] + related_columns]
    else:
        return df.loc[row_cond, ['ID', 'YEAR'] + related_columns]

In [11]:
df = pd.read_pickle('../../bld/out/data/panel_inspection.pkl')

In [12]:
for event in EVENT_VARIABLES:
    print(pd.crosstab(df.YEAR, df[event + '_BEFORE_INTERVIEW']))

DEATH_CHILD_BEFORE_INTERVIEW  False  True
YEAR
2006                              5      2
2007                             10      0
2008                             10      2
2009                              9      1
2010                              2      5
2011                              6      1
2012                              8      2
2013                              9      4
2014                             10      4
2015                              0      1
DEATH_FATHER_BEFORE_INTERVIEW  False  True
YEAR
2005                              85     33
2006                              80     25
2007                              80     29
2008                              83     22
2009                              66     33
2010                              67     24
2011                              65     26
2012                              61     25
2013                              69     20
2014                              52     35
2015                               0     26
DEATH_HH_PERSON_BEFORE_INTERVIEW  False  True
YEAR
2008                                 22      0
2009                                 13      2
2010                                 11      4
2011                                  3      4
2012                                  7      0
2013                                  5      3
2014                                  5      6
2015                                  0      2
DEATH_MOTHER_BEFORE_INTERVIEW  False  True
YEAR
2005                              87     34
2006                              67     36
2007                              85     34
2008                             105     30
2009                              76     23
2010                              63     36
2011                              50     25
2012                              80     16
2013                              67     21
2014                              70     20
2015                               0     28
DEATH_PARTNER_BEFORE_INTERVIEW  False  True
YEAR
2005                               35     16
2006                               32      3
2007                               51      8
2008                               33     16
2009                               46     14
2010                               25     13
2011                               29      9
2012                               36      1
2013                               34      4
2014                               34      9
2015                                0      8
DIVORCED_BEFORE_INTERVIEW  False  True
YEAR
2005                          41     18
2006                          40     18
2007                          35     13
2008                          26     10
2009                          38     11
2010                          31     13
2011                          22      9
2012                          24      4
2013                          19     10
2014                          17      6
2015                           0      4
HH_COMP_CHANGE_BEFORE_INTERVIEW  False  True
YEAR
2005                                11     41
2006                                17     23
2007                                 9     42
2009                                20     38
2010                                 8     33
2011                                 4     20
2012                                10     17
2013                                10     18
2014                                16     22
LAST_JOB_ENDED_BEFORE_INTERVIEW  False  True
YEAR
2005                               620    197
2006                               645    198
2007                               717    183
2008                               696    179
2009                               648    226
2010                               487    202
2011                               504    124
2012                               486    116
2013                               499    123
2014                               467    116
2015                                 2     93
SEPARATED_BEFORE_INTERVIEW  False  True
YEAR
2005                          122     51
2006                           99     42
2007                          115     48
2008                           95     39
2009                           98     50
2010                           72     46
2011                           77     34
2012                           72     25
2013                           58     26
2014                           63     27
2015                            0     21

In [13]:
inspect(df, 'LAST_JOB')

,ID,YEAR,LAST_JOB_ENDED_MONTH_PY,LAST_JOB_ENDED_MONTH_SY,LAST_JOB_ENDED_MONTH_PY_SHIFTED,LAST_JOB_ENDED_MONTH,LAST_JOB_ENDED_BEFORE_INTERVIEW
142,602,2005,NaN,NaN,NaN,NaN,NaN
143,602,2006,NaN,NaN,NaN,NaN,NaN
144,602,2007,NaN,NaN,NaN,NaN,NaN
145,602,2008,NaN,NaN,September,September,False
146,602,2009,September,NaN,NaN,NaN,NaN
147,602,2010,NaN,NaN,NaN,NaN,NaN
178,901,2005,NaN,NaN,NaN,NaN,NaN
179,901,2006,NaN,NaN,NaN,NaN,NaN
180,901,2007,NaN,NaN,NaN,NaN,NaN
181,901,2008,NaN,NaN,NaN,NaN,NaN
182,901,2009,NaN,NaN,NaN,NaN,NaN
183,901,2010,NaN,NaN,NaN,NaN,NaN
184,901,2011,NaN,NaN,NaN,NaN,NaN
185,901,2012,NaN,NaN,NaN,NaN,NaN
186,901,2013,NaN,NaN,NaN,NaN,NaN
187,901,2014,NaN,NaN,July,July,False
188,901,2015,July,NaN,NaN,NaN,NaN
282,1501,2005,NaN,NaN,NaN,NaN,NaN
283,1501,2006,NaN,NaN,NaN,NaN,NaN
284,1501,2007,NaN,NaN,NaN,NaN,NaN
285,1501,2008,NaN,NaN,NaN,NaN,NaN
286,1501,2009,NaN,NaN,NaN,NaN,NaN
287,1501,2010,NaN,NaN,NaN,NaN,NaN
288,1501,2011,NaN,NaN,NaN,NaN,NaN
289,1501,2012,NaN,NaN,NaN,NaN,NaN
290,1501,2013,NaN,NaN,NaN,NaN,NaN
291,1501,2014,NaN,NaN,NaN,NaN,NaN
292,1501,2015,NaN,NaN,NaN,NaN,NaN
311,1601,2005,NaN,NaN,NaN,NaN,NaN
312,1601,2006,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
503698,8271402,2010,NaN,NaN,NaN,NaN,NaN
503699,8271402,2011,NaN,NaN,NaN,NaN,NaN
503700,8271402,2012,NaN,NaN,NaN,NaN,NaN
503701,8271402,2013,NaN,NaN,April,April,False
503702,8271402,2014,April,NaN,NaN,NaN,NaN
503703,8271402,2015,NaN,NaN,NaN,NaN,NaN
503707,8272102,2010,NaN,NaN,NaN,NaN,NaN
503708,8272102,2011,NaN,NaN,NaN,NaN,NaN
503709,8272102,2012,NaN,NaN,March,March,False
503710,8272102,2013,March,NaN,NaN,NaN,NaN
503711,8272102,2014,NaN,NaN,NaN,NaN,NaN
503712,8272102,2015,NaN,NaN,NaN,NaN,NaN
503744,8276202,2010,NaN,NaN,NaN,NaN,NaN
503745,8276202,2011,NaN,NaN,NaN,NaN,NaN
503746,8276202,2012,NaN,NaN,NaN,NaN,NaN
503747,8276202,2013,NaN,NaN,NaN,NaN,NaN
503748,8276202,2014,NaN,NaN,NaN,NaN,NaN
503749,8276202,2015,NaN,NaN,NaN,NaN,NaN
503768,8277302,2010,NaN,NaN,NaN,NaN,NaN
503769,8277302,2011,NaN,NaN,NaN,NaN,NaN
503770,8277302,2012,NaN,NaN,NaN,NaN,NaN
503771,8277302,2013,NaN,NaN,NaN,NaN,NaN
503772,8277302,2014,NaN,NaN,NaN,NaN,NaN
503773,8277302,2015,NaN,NaN,NaN,NaN,NaN
503776,8277802,2010,NaN,NaN,July,July,False
503777,8277802,2011,July,NaN,NaN,NaN,NaN
503778,8277802,2012,NaN,NaN,NaN,NaN,NaN
503779,8277802,2013,NaN,NaN,September,September,False
503780,8277802,2014,September,NaN,August,August,False
503781,8277802,2015,August,NaN,NaN,NaN,NaN

In [24]:
df.loc[(df.YEAR.isin([2005, 2006, 2007, 2008, 2009, 2010]) &
         (df.YEAR_2005_2010_SUM == 6))].shape[0] / 6

12352.0

In [26]:
df.loc[(df.YEAR.isin([2010, 2011, 2012, 2013, 2014, 2015]) &
         (df.YEAR_2010_2015_SUM == 6))].shape[0] / 6

9341.0

In [27]:
df.loc[:, ['ID', 'YEAR', 'YEAR_2005_2010_SUM', 'YEAR_2010_2015_SUM', 'YEAR_2005_2010']]

             ID  YEAR  YEAR_2005_2010_SUM  YEAR_2010_2015_SUM  YEAR_2005_2010
142         602  2005                 6.0                 3.0            True
143         602  2006                 6.0                 3.0            True
144         602  2007                 6.0                 3.0            True
145         602  2008                 6.0                 3.0            True
146         602  2009                 6.0                 3.0            True
147         602  2010                 6.0                 3.0            True
178         901  2005                 6.0                 6.0            True
179         901  2006                 6.0                 6.0            True
180         901  2007                 6.0                 6.0            True
181         901  2008                 6.0                 6.0            True
182         901  2009                 6.0                 6.0            True
183         901  2010                 6.0                 6.0            True
184         901  2011                 6.0                 6.0           False
185         901  2012                 6.0                 6.0           False
186         901  2013                 6.0                 6.0           False
187         901  2014                 6.0                 6.0           False
188         901  2015                 6.0                 6.0           False
282        1501  2005                 6.0                 6.0            True
283        1501  2006                 6.0                 6.0            True
284        1501  2007                 6.0                 6.0            True
285        1501  2008                 6.0                 6.0            True
286        1501  2009                 6.0                 6.0            True
287        1501  2010                 6.0                 6.0            True
288        1501  2011                 6.0                 6.0           False
289        1501  2012                 6.0                 6.0           False
290        1501  2013                 6.0                 6.0           False
291        1501  2014                 6.0                 6.0           False
292        1501  2015                 6.0                 6.0           False
311        1601  2005                 6.0                 6.0            True
312        1601  2006                 6.0                 6.0            True
...         ...   ...                 ...                 ...             ...
503698  8271402  2010                 4.0                 6.0            True
503699  8271402  2011                 4.0                 6.0           False
503700  8271402  2012                 4.0                 6.0           False
503701  8271402  2013                 4.0                 6.0           False
503702  8271402  2014                 4.0                 6.0           False
503703  8271402  2015                 4.0                 6.0           False
503707  8272102  2010                 3.0                 6.0            True
503708  8272102  2011                 3.0                 6.0           False
503709  8272102  2012                 3.0                 6.0           False
503710  8272102  2013                 3.0                 6.0           False
503711  8272102  2014                 3.0                 6.0           False
503712  8272102  2015                 3.0                 6.0           False
503744  8276202  2010                 3.0                 6.0            True
503745  8276202  2011                 3.0                 6.0           False
503746  8276202  2012                 3.0                 6.0           False
503747  8276202  2013                 3.0                 6.0           False
503748  8276202  2014                 3.0                 6.0           False
503749  8276202  2015                 3.0                 6.0           False
503768  8277302  2010                 2.0                 6.0            True
503769  8277302  2011                 2.0                 6.0           False
503770  8277302  2012                 2.0                 6.0           False
503771  8277302  2013                 2.0                 6.0           False
503772  8277302  2014                 2.0                 6.0           False
503773  8277302  2015                 2.0                 6.0           False
503776  8277802  2010                 2.0                 6.0            True
503777  8277802  2011                 2.0                 6.0           False
503778  8277802  2012                 2.0                 6.0           False
503779  8277802  2013                 2.0                 6.0           False
503780  8277802  2014                 2.0                 6.0           False
503781  8277802  2015                 2.0                 6.0           False

[122879 rows x 5 columns]